:root {
    --gradient: linear-gradient(90deg, #0093E9, #80D0C7);
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

*::selection {
    background: #f39c12;
    color: #ffffff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    height: 300rem;
}

html::-webkit-scrollbar {
    width: 1.5rem;
}

html::-webkit-scrollbar-track {
    background: black;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(#0093E9, #80D0C7);
}

section {
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}

.btn {
    padding: 0.7rem 0.3rem;
    font-size: 2rem;
    color: #ffffff;
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before {
    transition: 0.2s linear;
    left: 120%;
}

.heading {
    display: flex;
    color: black;
    padding: 1rem;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background: var(--gradient);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

header .logo {
    color: #ffffff;
    font-size: 2.5rem;
}

header .navbar ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin: 0.1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #ffffff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: #444444;
}

header #login {
    font-size: 3rem;
    color: #ffffff;
    cursor: pointer;
}

header #login:hover {
    color: #444444;
}

header #menu {
    font-size: 3rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

.login-form {
    height: 100%;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form.popup {
    top: 0;
}

.login-form form {
    width: 35rem;
    background: #ffffff;
    margin: 0 2rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem #333333;
    position: relative;
}

.login-form form h3 {
    font-size: 3rem;
    color: #0093E9;
    padding: 1rem 0;
}

.login-form form .box {
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border: none;
    border-bottom: 0.2rem solid black;
    font-size: 1.6rem;
    color: #333333;
    text-transform: none;
}

.login-form form .box::placeholder {
    text-transform: capitalize;
}

.login-form form .box:focus {
    border-color: #f39c12;
}

.login-form form .box:nth-child(3) {
    margin-bottom: 5rem;
}

.login-form form p {
    font-size: 1.4rem;
    color: black;
    padding: 0.5rem 0;
}

.login-form form p a {
    color: #0093E9;
}

.login-form form .btn {
    width: 100%;
    margin: 2rem 0;
}

.login-form form .btn:hover {
    background: black;
}

.login-form form .fa-xmark {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
}

.login-form form .fa-xmark:hover {
    color: black;
}

.login-form form#registerForm {
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url(./assets/home.jpg) no-repeat;
    opacity: 0.75;
    background-size: cover;
    background-position: fixed;
    position: relative;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.home .desc {
    position: relative;
    z-index: 1;
    padding: 40px;
}

.home .desc::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.home h1 {
    font-size: 5rem;
    color: black;
}

.home p {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    width: 70rem;
}

.about .content {
    flex: 1 1 40rem;
}

.about .content h3 {
    display: flex;
    font-size: 3.5rem;
    color: black;
    justify-content: center;
    align-items: center;
}

.about .content p {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
}

.course .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course .box-container .box {
    width: 35rem;
    height: 65rem;
    border: 0.25rem solid rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 1.5rem;
}

.course .box-container .box img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content {
    height: 100%;
    padding: 1rem;
}

.course .box-container .box .content i {
    color: #0093E9;
    font-size: 1.7rem;
    padding: 1rem 0.1rem;
}

.course .box-container .box .content .title {
    color: black;
    font-size: 2.1rem;
}

.course .box-container .box .content .title:hover {
    text-decoration: underline;
}

.course .box-container .box .content p {
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
}

.course .box-container .box .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.course .box-container .box .content .info h3 {
    font-size: 1.5rem;
    padding: 1rem;
    color: #666666;
}

.course .box-container .box .content .info h3 i {
    color: #0093E9;
}

.course .box-container .box .price {
    position: absolute;
    top: 16rem;
    right: 1rem;
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background: var(--gradient);
    color: #ffffff;
    font-size: 3rem;
}

.faculty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url(./assets/faculty.webp) no-repeat;
    opacity: 0.75;
    background-size: cover;
    background-position: fixed;
    position: relative;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.faculty .facdiv {
    position: relative;
    z-index: 1;
    padding: 40px;
}

.faculty .facdiv::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.faculty .facdiv p {
    font-size: 1.8rem;
    color: black;
    width: 65rem;
    margin: 1rem auto;
}

.contact {
    background: #111111;
}

.contact .heading {
    color: #ffffff;
}

.contact .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form {
    --gap: 1.5rem;
    flex: 1 1 50rem;
    background: #222222;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem;
    align-items: self-start;
    gap: var(--gap);
}

.contact .row form .box {
    height: 5rem;
    width: calc(50% - (var(--gap) / 2));
    border: 0.1rem solid #eee;
    padding: 0 1rem;
    font-size: 1.7rem;
    color: #ffffff;
    background: none;
    text-transform: none;
}

.contact .row form .box:focus {
    border-color: #f39c12;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .address {
    height: 15rem;
    padding: 1rem;
    resize: none;
    width: 100%;
}

.contact .row form .btn:hover {
    background: #ffffff;
    color: #333333;
}

.contact .row .image img {
    height: 100%;
    margin-top: 2rem;
    width: 100%;
}

.foot {
    background: #111111;
}

.footer {
    background: #333333;
    height: auto;
    width: 100%;
}

.footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box {
    margin: 1.5rem;
    text-align: center;
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #ffffff;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.7rem;
    color: #ffffff;
    padding: 0.7rem 0;
}

.footer .box-container .box p i {
    padding-right: 0.5rem;
    color: #0093E9;
}

.footer .box-container .box a {
    font-size: 1.8rem;
    display: block;
    padding: 0.5rem 0;
    color: #eee;
}

.footer .box-container .box a:hover {
    text-decoration: none;
}

.footer .credit {
    padding: 2rem 1rem;
    font-size: 2rem;
    color: #ffffff;
    background: #111111;
    text-align: center;
}

.footer .credit a {
    color: #eee;
}

@media (max-width:768px) {
    html {
        font-size: 55%;
    }

    header #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        background: #444444;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
    }

    header .navbar ul li a {
        font-size: 2.5rem;
        display: block;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        color: #f39c12;
    }

    .fa-xmark {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        top: 6.4rem;
    }

    .home h1 {
        font-size: 4rem;
    }

    .home p {
        width: auto;
    }

    .faculty p {
        width: auto;
    }

    .contact .row .image {
        display: none;
    }
}

@media (max-width:500px) {
    html {
        font-size: 50%;
    }

    .contact .row form .box {
        width: 100%;
    }
}